# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.qmake.stash
/build-quazip-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/*
/debug/*
/Makefile
/Makefile.Debug
/Makefile.Release
/MizEdit.pro.user
/build-quazip-Desktop_Qt_5_15_2_MSVC2019_64bit-Release/*
/MizEdit/*
/quazip/quazip.pro.user
/release/*
/MizEdit.zip
/quazip/quazip.pro.user
